.hide {
    display: none !important;
}

.show-block {
    display: block !important;
}

.data-container-active {
    height: 90% !important;
}

.data-container-unactive {
    height: 10% !important;
}