@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');

:root {
    --border-clr: rgb(214, 214, 214);
    --text-clr: rgb(70, 70, 70);
}

*,
*::before,
*::after{box-sizing:border-box;}

body {
    display: grid;
    margin: 0;
    place-items: center;
    min-height: 100vh;
    height: 1px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(221, 197, 219);
}

#main {
    width: 320px;
    height: 100vh;
    padding: 5px;
}

.main-top {
    padding-top: 4rem;
    text-align: center;
    height: 60%;
    background-image: url(img/snow.avif);
    /* filter:b(10%); */
    background-size: cover;
    background-repeat: no-repeat;
}

.main-bottom {
    position: relative;
    text-align: center;
    min-height: 40%;
    background-color: #fff;
}

h2 {
    font-size: 1rem;
    font-weight: 400;
}

.main-weather {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.main-temp {
    font-size: 2rem;
    font-weight: 800;
    margin: 15px 0 15px 0;
}

#search {
    margin: 0 auto;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    background-color: #c7e3f0;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    /*background-color:transparent;*/
}

.nav {
    display: flex;
    width: 100%;
    justify-content: center;
}

.nav a{
    padding: 0 1rem;
    text-decoration: none;
    color: black;
}

.weather,
.news,
.photos {
    padding-bottom: 1rem;
    cursor: pointer;
    opacity: 0.3;
}

.weather:hover,
.news:hover,
.photos:hover {
    border-bottom: 1px solid var(--border-clr);
    text-shadow: 0px 0px 1px var(--text-clr);
    opacity: 1;
}

.weather-data-container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% - 25%);
    width: calc(100%);
}

.weather-data-container div:not(:last-child) {
    display: flex;
    justify-content: space-between;
    margin: 0 1.5rem;
    align-items: center;
    font-size: 1rem;
    letter-spacing: normal;
    color:var(--text-clr);
}

.weather-data-container div span {
    padding: 0 5px;
}

.weather-data-container div:not(:last-child) {
    border-bottom: 1px solid var(--border-clr);
    justify-content: space-between;
}

.weather-data-container .wind {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    letter-spacing: normal;
    color:var(--text-clr);
    margin: 0 1.5rem;
}

.active-btn {
    border-bottom: 2px solid var(--border-clr);
    text-shadow: 0px 0px 1px var(--text-clr);
    opacity: 1;
}

.loader {
    margin: auto;
    border: 5px solid #EAF0F6;
    border-radius: 50%;
    border-top: 5px solid #85017a;
    width: 50px;
    height: 50px;
    animation: spinner 4s linear infinite;
    position: absolute;
    inset: 0;
    top: 50px;
    display: none;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}